In [1]:
import pandas as pd

#2015 onwards I approximated daily annual member sign-ups by suptracting total members yesterday from total members today

In [2]:
tripData=["JC-201812-citibike-tripdata","JC-201901-citibike-tripdata","JC-201902-citibike-tripdata","JC-201903-citibike-tripdata","JC-201904-citibike-tripdata","JC-201905-citibike-tripdata","JC-201906-citibike-tripdata","JC-201907-citibike-tripdata","JC-201908-citibike-tripdata","JC-201909-citibike-tripdata","JC-201910-citibike-tripdata","JC-201911-citibike-tripdata","JC-201912-citibike-tripdata","JC-202001-citibike-tripdata","JC-202002-citibike-tripdata","JC-202003-citibike-tripdata","JC-202004-citibike-tripdata","JC-202005-citibike-tripdata"]

csvFiles = ["data-pe6k4","data-0FwJZ","data-SGjhr","data-dhq4m","data-0Si1U","data-1hJ2T","data-jMx9R","data-xEsQz","data-dVCP4","data-rreHM","data-8eZnB","data-xXpEp","data-gRmSF","data-9KAuN","data-Whjsi","data-33zqP","data-K8j0z","data-7OLX8","data-tqNn6","data-FKjZg","data-pRAtm","data-cZMp8","data-MM5kM"]

In [4]:
tripData[0].split('-')[1]

'201812'

In [6]:
trip_df = pd.DataFrame({})


for i in range(0,len(tripData)):
    new_df= pd.read_csv("CustomerData/"+tripData[i]+".csv")
    
    trip_df = pd.concat([trip_df,new_df])
    
trip_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1

In [7]:
trip_df.to_csv("CustomerData/tripData.csv")

In [72]:
main_df = pd.DataFrame({})

column_names = []
for i in range(0,len(csvFiles)):
    new_df= pd.read_csv(csvFiles[i]+".csv")
#     new_df_columns = new_df.columns

        
#     print(new_df_columns)
#     new_df=new_df.rename(columns={"Date":"Date",
#     new_df_columns[0]:"Trip Past 24-hours",
#     new_df_columns[1]:"Cumulative trips",
#     new_df_columns[2]:"Miles today",
#     new_df_columns[3]:"Miles to date",
#     new_df_columns[4]:"Total Annual Members",
#     new_df_columns[5]:"New Annual Members",
#     new_df_columns[6]:"Temporary Passes Purchased"})
    main_df = pd.concat([main_df,new_df])

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [75]:
main_df.drop(columns=['Column 1']).to_csv("cleaning.csv",index=False)

In [42]:
main_df.sort_values(['Date']).reset_index(drop=True).to_csv('delete.csv')

In [65]:

LoD = []
LoDates=[]
for i in range(0,len(csvFiles)):
    new_df= pd.read_csv(csvFiles[i]+".csv")
    myDict = new_df.columns
    LoD.append(myDict)
    LoDates.append(new_df.Date[i])
    print(len(myDict))

8
9
9
6
9
6
6
6
9
8
6
8
8
6
7
9
6
8
9
6
6
8
8

In [59]:
pd.DataFrame(LoD).to_csv('delete.csv')

In [67]:
df = pd.DataFrame(LoD)
df['fileName']=csvFiles
df['dates']=LoDates
df.to_csv('delete.csv')

In [64]:
new_df.Date[0]

'7/1/16'

pandas.core.frame.DataFrame